body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  .container {
    max-width: 600px;
    margin: auto;
    color: #fff;
    background-color: #fe3f64;
    padding: 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
    text-align: center;
  }

  .btn{
    background-color: #fff;
    color: black;
  }
  
  .btn:hover {
    background-color: #ff90ad;
  }
  
  @media (max-width: 576px) {
    .container {
      padding: 20px;
    }
  }
  